{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Метод модели Логистической регрессии
<form action="/model_Logistic" method="POST">
    <p><input type="text" class="form_text" name="list1"> Введите температуру тела в градусах цельсиях</p>
    <p><input name="list2" class="form_text" type="text"> Введите пульс </p>
    <p><input name="list3" class="form_text" type="text"> Введите уровень боли</p>
    <input type="submit" class="form_btn" value="Узнать пол">
    <h1>{{class_model}}</h1>
    </p>
</form>



{% endblock %}